@import "./variables.scss";
@import "./typography.scss";
@import "./filters.scss";
@import "./measurements.scss";
@import "./button.scss";

@import "./display-chart.scss";

body {
    font-family: "Montserrat", sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.3em;
}

.container {
    width:100%;
    max-width:1000px;
    overflow: hidden;
    margin: 0 auto;
}

p {
    margin: 0.3em;
}

.data-display {
    margin:0 auto;
}

@media screen and (max-width:800px) {
    .data-display {
        max-width: 700px;
    }

    .charts {
        flex-direction: column;
    }
}