.measurement-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    max-width: 800px;
}

.measurement-card {
    padding: 1em;
    border-radius: 15px;
    background-color: antiquewhite;
}