.title-case{
    text-transform: capitalize;
}

.header {

    &-headline {
        font-size: 2rem;
        color: $accent-color;
        margin: 0.2em;
    }


    &-description {
        font-size: 1rem;
        margin-bottom: 2em;
        text-align: center;   
        max-width: 500px;
 }
}


.chart-style {
    font-weight: 600;
}