.title-case{
    text-transform: capitalize;
}

.header {

    &-headline {
        font-size: 2rem;
        color: $accent-color;
        margin: 0.2em;
    }


    &-description {
        font-size: 1rem;
        margin-bottom: 2em;

    }
}